
# local backups / temp
*.bak
*.tmp
*.log
dist/

# EAS local Android credentials (DO NOT COMMIT)
mobile/credentials.json
mobile/credentials/

# dependencies
node_modules/
**/node_modules/

# builds
dist/
